body{
	position: relative;
	left: 2%;
	width: 96%;	
}

#nav_row {
	position: relative;
	top: 15px;
}

#main_row {
	position: relative;
	top: 45px;
}

.main-col { 
	position: relative;
	height: 250px;
	text-align: center;
}

.actions {
	position: absolute;
	width: 85%;
	top: 40%;	
}

#name_of_game {
	text-align: center;
	font-family: Oxygen;
	font-size:120%;
	background-color: #1E90FF;
}

#game_options {
	position: relative;
	text-align: center;
	top: 133px;
}

#start {
	font-size: 140%;
	width: 12%;
	color: green;
}

.btn-default { 
  color: #ffffff; 
  background-color: #1E90FF; 
  border-color: #1B6AB8; 
} 
 
.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default.active, 
.open .dropdown-toggle.btn-default { 
  color: #ffffff; 
  background-color: #5BABFC; 
  border-color: #1B6AB8; 
} 
 
.btn-default:active, 
.btn-default.active, 
.open .dropdown-toggle.btn-default { 
  background-image: none; 
} 
 
.btn-default.disabled, 
.btn-default[disabled], 
fieldset[disabled] .btn-default, 
.btn-default.disabled:hover, 
.btn-default[disabled]:hover, 
fieldset[disabled] .btn-default:hover, 
.btn-default.disabled:focus, 
.btn-default[disabled]:focus, 
fieldset[disabled] .btn-default:focus, 
.btn-default.disabled:active, 
.btn-default[disabled]:active, 
fieldset[disabled] .btn-default:active, 
.btn-default.disabled.active, 
.btn-default[disabled].active, 
fieldset[disabled] .btn-default.active { 
  background-color: #1E90FF; 
  border-color: #1B6AB8; 
} 
 
.btn-default .badge { 
  color: #1E90FF; 
  background-color: #ffffff; 
}

.scorebox {
	background-color: #1E90FF;
	font-size: 24px;
}

#score1, #score2 {
	color: #FFFFFF;
	font-size: 36px;
}